<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggukgguk.api.Notice">

<!-- select * from record r
left join media_file m
on r.media_file_id = m.media_file_id; -->

	<select id="selectList" resultType="Notice">
		select * from record r
		left join media_file m
		on r.media_file_id = m.media_file_id
				ORDER BY notice_created_at DESC
		LIMIT #{skip}, #{size}
	</select>
	
</mapper>