<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggukgguk.api.Member">

   <select id="selectById" parameterType="java.lang.String" resultType="Member">
       <![CDATA[   
         SELECT member_id, member_pw, member_name, member_nickname, member_email,
         		member_phone, member_birth, member_created_at, member_activated,
         		member_authority, member_social
         FROM member
         WHERE member_id = #{memberId}         
     	 ]]>
   </select>

</mapper>