<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggukgguk.api.Notification">

	<!-- 회원별 알림 조회 -->
	<select id="selectNotificationList" parameterType="java.lang.String" resultType="Notification">
		 <![CDATA[   
         SELECT notification_id, receiver_id, notification_type_id, 
         notification_created_at, reference_id,notification_is_read, 
         notification_message
         FROM notification
 		 WHERE receiver_id = #{receiverId}
     	 ]]>
	</select>
	
	<!-- 알림 생성 -->
	<insert id="createNotification" parameterType="Notification">
	 	<![CDATA[   
	 	INSERT INTO notification (receiver_id, notification_type_id, reference_id, notification_message)
		VALUES (#{receiverId}, #{notificationTypeId}, #{referenceId}, #{notificationMessage});
     	]]>
	</insert>
	
</mapper>