<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ggukgguk.api.Notice">

   <select id="selectList" parameterType="NoticeOption" resultType="Notice">
       <![CDATA[   
			SELECT notice_id, notice_title, notice_content, notice_created_at
			FROM notice
			ORDER BY notice_id DESC
			LIMIT #{skip}, #{size}     
 		]]>
   </select>
   
   <select id="selectListTotal" parameterType="NoticeOption" resultType="int">
		<![CDATA[   
			SELECT COUNT(*) FROM notice
		]]>
   </select>
   
   <insert id="insert" parameterType="Notice">
        <![CDATA[   
	         INSERT INTO notice VALUES (NULL, #{noticeTitle}, #{noticeContent}, default)       
		]]>
   </insert>

</mapper>